<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean name="address" class="com.lm.Address">
		<property name="city" value="Varanasi" />
		<property name="state" value="Uttar Pradesh" />
	</bean>
	<bean name="address2" class="com.lm.Address">
		<property name="city" value="Bhopal" />
		<property name="state" value="Madhya Pradesh" />
	</bean>
	<bean name="employee" class="com.lm.Employee" autowire="byName">
		<property name="empName" value="Manohar Parikar" />
	</bean>
</beans>